<ion-view title="Dashboard" name="dashboard-view" title="app" cache-view="false">
    <ion-nav-buttons side="right">
        <a ui-sref="myaccount"><i class="button button-clear icon rs-text ion-android-person"></i></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher class="ion-loading-a" on-pulling="doRefresh()"> </ion-refresher>
        <div class="col text-center row">
            <h3 class="title">{{"dashboard_welcome" | translate}}</h3>
            {{"dashboard_welcome_content" | translate}}
            <br><br><br>
            <button class="button button-full button-positive" ui-sref="firstButton">
                {{"dashboard_design1" | translate}}
            </button>
            <button class="button button-full button-energized" ui-sref="secondButton">
                {{"dashboard_design2" | translate}}
            </button>
            <button class="button button-full button-assertive" ui-sref="thirdButton">
                {{"dashboard_design3" | translate}}
            </button>
          </div>
    </ion-content>
</ion-view>
