<ion-view title="Dashboard" name="dashboard-view" title="app" cache-view="false">
    <ion-nav-buttons side="right">
        <a ui-sref="myaccount"><i class="button button-clear icon rs-text ion-android-person"></i></a>
    </ion-nav-buttons>
    <ion-content class="padding">
        <ion-refresher class="ion-loading-a" on-pulling="doRefresh()"> </ion-refresher>
        <label class="item item-input rs-item-search-inverse" id="selectBaseCurrency-search17">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="search" placeholder="" ng-model="data.search" ng-change="search()">
      </label>
        <ion-item style="border-style:none;" ng-repeat="po in narrowed">
            <span class="rs-text">{{po.name}} </span>
            <span class="item-note">{{po.quotes.USD.price}}</span>
        </ion-item>
    </ion-content>
</ion-view>
