<ion-view view-title="Language">
    <ion-nav-buttons side="side">
         <button class="button back-button buttons no-text button-clear header-item" ng-click="myAccountBack()">
            <i class="icon ion-android-arrow-back"></i>
         </button>
    </ion-nav-buttons>
      <ion-content>
        <ion-list>
      <ion-item  class="rs-text" ng-click>
        <span class="rs-text">English</span>
      </ion-item>
      <ion-item  class="rs-text" ng-click>
        <span class="rs-text">Hindi</span>
      </ion-item>
    </ion-list>
      </ion-content>
</ion-view>
