/* Empty. Add your own CSS if you like */

.signupButton1{
	min-width: 100%;
}
.foo {
	position:absolute;
	bottom:1px;
	width:948px;
	height:525px;
	left:50%;
	margin-left:-474px;
	overflow: hidden;
	background-color:#999999;
}
.dashcss table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 100%;
    border: 1px solid #ddd;
}
.dashcsstr th, td{
	text-align: left;
    padding: 8px;
}
